.home-page {
  padding: 2% 8%;
  background-image: linear-gradient(#ffffff, rgba(236, 252, 255, 0.5529411765));
  color: #53597b;
  font-family: "Mulish", sans-serif;
  border: 0;
}
.home-page .title-content {
  margin: 80px 0;
}
.home-page .title-content h1 {
  font-weight: 600;
  color: #00add8;
  font-size: 1.5rem;
  margin: 0;
}
.home-page .title-content h2 {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 3px;
  display: inline;
}
.home-page .title-content p {
  width: 80%;
  margin: 20px 0;
  font-size: 1rem;
  padding: 0 5px;
  font-weight: 600;
  margin-bottom: 50px;
}
.home-page .title-content .explore {
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 400;
  background: #2196f3;
  box-shadow: 0px 10px 20px -10px #1376c5;
  color: white;
  border-radius: 20px;
  margin: auto 0;
  border: 0;
  font-weight: 600;
  transition: all 0.3s ease-in;
  margin: 30px 10px 0;
  transition: all 0.3s ease-in;
}
.home-page .title-content .title-heading {
  position: relative;
}
.home-page .title-content img {
  width: 65px;
  position: absolute;
  margin-left: 10px;
}
.home-page img {
  width: 500px;
  transform: translateX(10%);
}

@media only screen and (max-width: 900px) {
  .home-page {
    text-align: center;
  }
  .home-page .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .home-page .first {
    order: 2;
  }
  .home-page .second {
    order: 1;
  }
  .home-page .title-content {
    margin: 50px 0;
  }
  .home-page .title-content h1 {
    font-size: 1.5rem;
  }
  .home-page .title-content h2 {
    font-size: 2.5rem;
  }
  .home-page .title-content img {
    top: 100%;
    right: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -30px;
  }
  .home-page .title-content p {
    width: 100%;
    margin-top: 90px;
  }
  .home-page img {
    transform: translateX(0%);
  }
}
.achievments-slider {
  padding: 3% 8%;
  background-color: rgba(238, 238, 238, 0.1568627451);
  text-align: center;
}
.achievments-slider .heading {
  margin-bottom: 50px;
}
.achievments-slider .heading h2 {
  color: #00add8;
  font-size: 1.2rem;
  font-weight: 600;
}
.achievments-slider .heading h3 {
  font-size: 2rem;
  font-weight: 600;
}
.achievments-slider .achievment-slider {
  text-align: left;
}
.achievments-slider .carousel-indicators button {
  width: 50px;
}
.achievments-slider .carousel-item:nth-child(1) span:nth-child(1) {
  margin: 0;
}
.achievments-slider .carousel-item:nth-child(1) .image img {
  width: 100%;
}
.achievments-slider .carousel-item:nth-child(1) span:nth-child(2) {
  margin: 0;
  color: #63b867;
}
.achievments-slider .carousel-item:nth-child(3) span:nth-child(2) {
  color: #ff9900;
}
.achievments-slider .slider-content {
  margin-bottom: 70px;
}
.achievments-slider .slider-content .content {
  margin-top: 100px;
}
.achievments-slider .slider-content .content span {
  font-weight: 700;
  font-size: 2rem;
}
.achievments-slider .slider-content .content .color:first-child {
  color: #428ff4;
}
.achievments-slider .slider-content .content .color:nth-child(2) {
  color: #ea4335;
}
.achievments-slider .slider-content .content .color:nth-child(3) {
  color: #fbbc05;
}
.achievments-slider .slider-content .content .color:nth-child(4) {
  color: #428ff4;
}
.achievments-slider .slider-content .content .color:nth-child(5) {
  color: #34a853;
}
.achievments-slider .slider-content .content .color:nth-child(6) {
  color: #ea4335;
}
.achievments-slider .slider-content .content .color-grey {
  color: #666666;
  margin-left: 5px;
}
.achievments-slider .slider-content .content p {
  margin: 20px 0 50px;
  width: 80%;
}
.achievments-slider .slider-content .content h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.achievments-slider .slider-content .image img {
  width: 100%;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 900px) {
  .achievments-slider .achievment-slider {
    text-align: center;
  }
  .achievments-slider .achievment-slider .slider-content {
    margin-bottom: 50px;
  }
  .achievments-slider .achievment-slider .slider-content .image img {
    height: auto;
    margin-top: 20px;
  }
  .achievments-slider .achievment-slider .slider-content .content {
    margin-top: 0;
  }
  .achievments-slider .achievment-slider .slider-content .content p {
    width: 100%;
  }
}
/* Upcoming Events  */
.upcoming-events {
  padding: 3% 8% 5%;
  text-align: center;
}
.upcoming-events .heading {
  margin-bottom: 50px;
}
.upcoming-events .heading h2 {
  color: #00add8;
  font-size: 1.2rem;
  font-weight: 600;
}
.upcoming-events .heading h3 {
  font-size: 2rem;
  font-weight: 600;
}

.events-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.event {
  background-color: #f5f5f5;
  padding: 0;
  max-width: 100%;
  height: 600px;
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
}

.event img {
  width: 300px;
}
.event .register-now-active {
  cursor: pointer !important;
  background-color: #2196f3;
}

.event:hover {
  transform: translateY(-0.75%);
  transition: 0.2s ease;
}

.event img {
  height: 400px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.register-now {
  display: inline-block;
  background: #666666;
  border: 0;
  font-weight: 600;
  cursor: not-allowed;
  border-radius: 15px;
  color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  transition: 0.4s ease-in-out;
  transform: translateY(30%);
}

.register-now:hover {
  transition: 0.4s ease-in-out;
  color: white;
}

.info {
  margin-top: 20px;
}

.info h4 {
  color: #000000;
  font-size: 1.2rem;
}

.info p {
  color: #7d7987;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .events {
    text-align: center;
    height: auto;
  }
  .events .images {
    margin: auto;
  }
  .events .description {
    text-align: center;
    margin: auto;
  }
  .events h1 {
    font-size: 2rem;
    word-wrap: break-word;
  }
  .dots {
    display: none;
  }
  .dots-img-2 {
    display: none;
  }
  .event-list {
    height: auto;
    padding: 0;
  }
  .upcoming-events {
    text-align: center;
  }
  .container-heading {
    text-align: center;
    flex-direction: column;
  }
  .events-container {
    grid-template-columns: auto;
    gap: 50px;
  }
  .event {
    height: auto;
  }
  .register-now {
    transform: translateY(0);
    margin: 10px 0;
  }
}
.slider {
  width: 100%;
  position: relative;
}

.slider-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-image {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  scroll-snap-align: start;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slider-prev,
.slider-next {
  background-color: #06c;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-prev:hover,
.slider-next:hover {
  background-color: #024;
}/*# sourceMappingURL=events.css.map */